body{
    background-color: gray;
}
.navbar{
    font-size: 25px;
    font-style: italic;
    color: rgb(175, 19, 139);
    height: 100px;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    border: 7px solid red;
    padding-top: 15px;
    box-shadow: 7px 7px purple;
    text-shadow: 1.5px 1.5px  rgb(175, 19, 139);
}
.container{
    border:5px solid green;
    height: 630px;
    width: 100%;
}
.box1{
    float: left;
    font-size: 30px;
    height: 210px;
    width: 250px;
    border-radius: 15px;
    border: 7px solid red;
    color: rgb(193, 68, 193);
    background-color: white;
    margin: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 7px 7px purple;
    text-shadow: 1.5px 1.5px  rgb(175, 19, 139);
}
.box2{
    float:right;
    font-size: 20px;
    height: 190px;
    width: 280px;
    border-radius: 15px;
    border: 7px solid red;
    color: rgb(193, 68, 193);
    background-color: white;
    margin: 20px;
    background-image: url("Grocery.jpg");
    background-size: cover;
    box-shadow: 7px 7px purple;
    text-shadow: 1.5px 1.5px  rgb(175, 19, 139);
}
.box3{
    clear: left;
    font-size: 25px;
    height: 210px;
    width: 250px;
    border-radius: 15px;
    border: 7px solid red;
    color: rgb(193, 68, 193);
    background-color: white;
    position: relative;
    top:50px;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 7px 7px purple;
    text-shadow: 1.5px 1.5px  rgb(175, 19, 139);
}
.box4{
    text-align: center;
    float: right;
    position: relative;
    bottom:190px;
    font-size: 10px;
    height: 210px;
    width: 250px;
    border-radius: 15px;
    border: 7px solid red;
    color: rgb(193, 68, 193);
    background-color: white;
    box-shadow: 7px 7px purple;
    text-shadow: 1.5px 1.5px  rgb(175, 19, 139);
    margin: 20px;
}
.fixbox{
    height: 80px;
    width: 400px;
    border-radius: 15px;
    border: 7px solid red;
    background-color: greenyellow;
    box-shadow: 7px 7px purple;
    font-size: 20px;
    color:red;
    padding-left: 15px;
     margin-left: 500px;
     margin-top: 150px;
     position: fixed;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
.items{
    height: 550px;
    width: 750px;
    border: 8px solid purple;
    background-color: green;
}
.div1{
    font-size: 20px;
    font-style: italic;
    height:200px;
    width: 370px;
    background-color:rgb(215, 215, 143);
    float: left;
}
.div2{
    font-size: 20px;
    font-style: italic;
    height:200px;
    width: 370px;
    background-color:rgb(215, 215, 143);
    float:right;
    margin-bottom: 10px;
}
.div3{
    font-size: 20px;
    font-style: italic;
    height:240px;
    width: 100%;
    line-height: 50px;
    background-color:rgb(215, 215, 143);
    clear: both;
}
h3{
    padding-top: 15px;
}
